.link-hy {
    background-color: #ff8800;
    background: linear-gradient(90deg,  #ff8800, #ff3300);
}
.link-pixelfed {
  background-color: cadetblue;
  background: linear-gradient(120deg, #c56a01, #b8a501, #64ce01, #01790b, #018c96)
}